<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        {{data0}}<hr />
        {{data1}}<hr />
        {{data2}}<hr />

        <h2>Student Details</h2>
        <table border="1">
            <thead>
                <th>Id</th>
                <th>Stu_Name</th>
                <th>Stu_Email</th>
                <th>Stu_City</th>
            </thead>
            <tbody>
                <td>{{data0.id}}</td>
                <td>{{data0.stu_name}}</td>
                <td>{{data0.stu_email}}</td>
                <td>{{data0.stu_city}}</td>
            </tbody>
        </table>
    </center>
</body>
</html>